/* Estilos para o corpo da página */
body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: absolute;
    position: fixed;
    height: 100%;
    width: 100%;
  }
  .container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 30%;
  }

  #Mes{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    
  }
  .autocomplete-results {
    width: 10px;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    background-color: white;
    max-height: 0px;
    overflow-y: auto;
    z-index: 1000;
  }
  .autocomplete-item {
    padding: 8px 12px;
    cursor: pointer;
  }
  .autocomplete-item:hover {
    background-color: #f8f9fa;
  }
  .position-relative{
    height: 30%;
  }
  #searchInput{
    width: 60%;
    height: 40%;
  }
  .position-relative{
    display: flex;
    top: 10%;
    left: 7%;
    gap: 20px;
  }
h2{
    text-align: center;
}
  .meu-botao {
    top: 110%;
    position: absolute;
    padding: 10px 20px;
    font-size: 16px;
    background-color:blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 80%;
    left: 3%;
  }
  
  .meu-botao:hover {
    background-color: #45a049;
  }
  