#texto{
    position: relative; 
    left: -30px; 
    top: -45%; 
  }
  
  #conteudo {
    position: relative; 
    height:100vh;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }
  
  #campo-texto {
    position: relative; 
    top: -45%;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    box-sizing: border-box; 
  }