/* Estilos para o corpo da página */
body {
    display: flex;
    left: 15%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aqua;
  }
  .container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 130%;
    align-items: center;
  }

  #Mes{
    height: 25px;
    width: 125px;
  }
  #searchInput{
    width: 300px;
  }

  .autocomplete-results {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    background-color: white;
    max-height: 00px;
    overflow-y: auto;
    z-index: 1000;
  }
  .autocomplete-item {
    padding: 8px 12px;
    cursor: pointer;
  }
  .autocomplete-item:hover {
    background-color: #f8f9fa;
  }